body {
    background-image: url('../img/partida.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Simpsonfont', sans-serif;
    
}

/* TIMER Y LOGO */
.timer {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  z-index: 2;
}


#juego-container {
  text-align: center;
}

#zona-avatar img {
  width: 100px;
  border-radius: 50%;
}

#cuadro-morado {
  background-color: #9b59b6;
  width: 200px;
  height: 100px;
  margin: 20px auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#temporizador {
  color: white;
  font-size: 40px;
}